@font-face {
  font-family: GraublauWeb;
  src: url("@assets/proxima_nova_font.otf") format("opentype");
}

:root {
  --white: #ffffff;
  --black: #000000;
  --primary-color: #ffe600;
  --gray: #eeeeee;
  --gray-iron: #999999;
  --gray-shadow: #666666;
  --gray-dark: #333333;
  --blue: #3483fa;
}
