@font-face {
    font-family: GraublauWeb;
    src: url("@assets/proxima_nova_font.otf") format("opentype");
}

:root {
    --white: #FFFFFF;
    --black: #000000;
    --primary-color: #FFE600;
    --gray: #EEEEEE;
    --gray-iron: #999999;
    --gray-shadow: #666666;
    --gray-dark: #333333;
    --blue: #3483FA;
}