@import "vars";

.main-content {
    margin-top: 60px;
}

body {
    font-family: "Proxima Nova",-apple-system,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif,sans-serif;
    background-color: var(--gray);
    margin: 0;
}